In [14]:
import os
import pandas as pd
from google.cloud import bigquery
import db_dtypes

In [15]:

os.environ[
    "GOOGLE_APPLICATION_CREDENTIALS"] = "the-webbing-454111-s0-9a04cc92eadc.json"  # lokalizacja pobranego klucza z punktu 1.4.
client = bigquery.Client()

In [16]:
query = (
    'select * from bigquery-public-data.covid19_open_data.covid19_open_data limit 10')
query_job = client.query(query)
query_result = query_job.result()
df = query_result.to_dataframe(bqstorage_client=None)
df

,location_key,date,place_id,wikidata_id,datacommons_id,country_code,country_name,iso_3166_1_alpha_2,iso_3166_1_alpha_3,aggregation_level,...,cumulative_vaccine_doses_administered_pfizer,new_persons_fully_vaccinated_moderna,cumulative_persons_fully_vaccinated_moderna,new_vaccine_doses_administered_moderna,cumulative_vaccine_doses_administered_moderna,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen,location_geometry
0,AR,2022-04-09,ChIJZ8b99fXKvJURqA_wKpl3Lz0,Q414,country/ARG,AR,Argentina,AR,ARG,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-64 -34)
1,AR,2022-01-28,ChIJZ8b99fXKvJURqA_wKpl3Lz0,Q414,country/ARG,AR,Argentina,AR,ARG,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-64 -34)
2,AR,2022-03-14,ChIJZ8b99fXKvJURqA_wKpl3Lz0,Q414,country/ARG,AR,Argentina,AR,ARG,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-64 -34)
3,AR,2021-11-04,ChIJZ8b99fXKvJURqA_wKpl3Lz0,Q414,country/ARG,AR,Argentina,AR,ARG,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-64 -34)
4,AR,2020-01-07,ChIJZ8b99fXKvJURqA_wKpl3Lz0,Q414,country/ARG,AR,Argentina,AR,ARG,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-64 -34)
5,AR,2020-07-06,ChIJZ8b99fXKvJURqA_wKpl3Lz0,Q414,country/ARG,AR,Argentina,AR,ARG,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-64 -34)
6,AR,2020-03-04,ChIJZ8b99fXKvJURqA_wKpl3Lz0,Q414,country/ARG,AR,Argentina,AR,ARG,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-64 -34)
7,AR,2020-09-19,ChIJZ8b99fXKvJURqA_wKpl3Lz0,Q414,country/ARG,AR,Argentina,AR,ARG,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-64 -34)
8,BR,2020-01-24,ChIJzyjM68dZnAARYz4p8gYVWik,Q155,country/BRA,BR,Brazil,BR,BRA,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-53 -14)
9,BR,2020-11-10,ChIJzyjM68dZnAARYz4p8gYVWik,Q155,country/BRA,BR,Brazil,BR,BRA,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-53 -14)

Część 3
Zapoznaj się z informacjami o danych na temat COVID-19, m.in.:

 3.1. Sprawdź, ile jest zapisanych wierszy z danymi.

In [17]:
query = "SELECT COUNT(*) FROM `bigquery-public-data.covid19_open_data.covid19_open_data`"

query_count = client.query(query)
query_count_result = query_count.result()
print(query_count_result.to_dataframe())

        f0_
0  22756333

 3.2. Sprawdź, ile krajów jest uwzględnionych w danych.

In [18]:
query = "SELECT COUNT(DISTINCT country_name) FROM `bigquery-public-data.covid19_open_data.covid19_open_data` "

query_count_distinct_countries = client.query(query)
query_count_distinct_countries_result = query_count_distinct_countries.result()
print(query_count_distinct_countries_result.to_dataframe())

   f0_
0  246

 3.3. Sprawdź, w jaki sposób zapisywane są dzienne informacje dla krajów. <br /> 
 3.4. Sprawdź, w jaki sposób zapisywane są wartości liczbowe.

In [19]:
query = "SELECT DISTINCT new_confirmed FROM `bigquery-public-data.covid19_open_data.covid19_open_data` WHERE new_confirmed BETWEEN -5 AND 5 "
query_type_of_daily = client.query(query)
query_type_of_daily_result = query_type_of_daily.result()
print(query_type_of_daily_result.to_dataframe())
# To pokazuje ze dzienne zmiany zachorowan moga byc ujemne! (poprawki dotyczace poprzednich dni)
# Wartosci przechowywane sa w postaci Integerow.

    new_confirmed
0               1
1               3
2               5
3               0
4              -5
5              -3
6               4
7              -1
8               2
9              -2
10             -4

In [20]:
query = "SELECT SUM(new_confirmed) AS sum_of_confirmed, MAX(date) as date FROM `bigquery-public-data.covid19_open_data.covid19_open_data` WHERE (aggregation_level = 0) AND (iso_3166_1_alpha_2 = 'PL') AND (date BETWEEN '2020-03-01' AND '2021-09-15')"
query_type_of_daily = client.query(query)
query_type_of_daily_result = query_type_of_daily.result()
print(query_type_of_daily_result.to_dataframe())


query = "SELECT cumulative_confirmed,date FROM `bigquery-public-data.covid19_open_data.covid19_open_data` WHERE (aggregation_level = 0) AND (iso_3166_1_alpha_3 = 'POL') AND (date = '2021-09-15') ORDER BY date;"
query_type_of_daily = client.query(query)
query_type_of_daily_result = query_type_of_daily.result()
print(query_type_of_daily_result.to_dataframe())

   sum_of_confirmed        date
0           2902130  2021-09-15
   cumulative_confirmed        date
0               2898599  2021-09-15

Powyżej widać ciekawą zależność, że po pewnym czasie dane zaczynają sie "rozjeżdżać" jednak wynika to z faktu jak władze w poszczególnych momentach podchodziły do liczenia, jednak nie zmieniano już istniejących danych. Dodatkowo wartym zauważenie jest fakt, że dane "na kraj" posiadają aggregation level = 0.

 3.5. Sprawdź, jaki przedział czasowy jest uwzględniony w danych. Dodatkowo porównaj przedziały czasowe dla przypadków nowych zachorowań, nowych śmierci oraz nowych zaszczepionych osób w danych.

In [21]:
query = "SELECT MIN(date) AS minimal_date_total, MAX(date) as maximum_date_total FROM `bigquery-public-data.covid19_open_data.covid19_open_data` WHERE (aggregation_level = 0)"
query_time_boundaries = client.query(query)
query_time_boundaries_result = query_time_boundaries.result()
print("Zakres calego zbioru danych")
print(query_time_boundaries_result.to_dataframe())
query = "SELECT MIN(date) AS minimal_date_of_new_cases, MAX(date) as maximum_date_of_new_cases FROM `bigquery-public-data.covid19_open_data.covid19_open_data` WHERE (aggregation_level = 0) AND (new_confirmed IS NOT NULL) AND (new_confirmed > 0)"
query_time_boundaries_result = client.query(query).result()
print(query_time_boundaries_result.to_dataframe())
query = "SELECT MIN(date) AS minimal_date_of_new_deaths, MAX(date) as maximum_date_of_new_deaths FROM `bigquery-public-data.covid19_open_data.covid19_open_data` WHERE (aggregation_level = 0) AND (new_deceased IS NOT NULL) AND (new_deceased > 0)"
query_time_boundaries_result = client.query(query).result()
print(query_time_boundaries_result.to_dataframe())
query = "SELECT MIN(date) AS minimal_date_of_new_vaccinated, MAX(date) as maximum_date_of_new_vaccinated FROM `bigquery-public-data.covid19_open_data.covid19_open_data` WHERE (aggregation_level = 0) AND (new_persons_vaccinated IS NOT NULL) AND (new_persons_vaccinated > 0)"
query_time_boundaries_result = client.query(query).result()
print(query_time_boundaries_result.to_dataframe())

Zakres calego zbioru danych
  minimal_date_total maximum_date_total
0         2020-01-01         2022-09-17
  minimal_date_of_new_cases maximum_date_of_new_cases
0                2020-01-01                2022-09-15
  minimal_date_of_new_deaths maximum_date_of_new_deaths
0                 2020-01-02                 2022-09-15
  minimal_date_of_new_vaccinated maximum_date_of_new_vaccinated
0                     2020-12-07                     2022-09-14

 3.6. Sprawdź więcej informacji (co najmniej 5 różnych) o danych dotyczących COVID-19. W tym celu nie wykonuj żadnych dodatkowych obliczeń.

In [22]:
#Zapytanie pokazuje nam kraje które wpowadzały bardzo rygorystyczne obostrzenia oraz kiedy to było
query = "WITH max_value AS (SELECT MAX(stringency_index) AS max_index FROM `bigquery-public-data.covid19_open_data.covid19_open_data`) SELECT country_name, date, stringency_index FROM `bigquery-public-data.covid19_open_data.covid19_open_data`, max_value WHERE stringency_index = max_value.max_index LIMIT 10"
query_strict = client.query(query)
query_strict_result = query_strict.result()
query_strict_result.to_dataframe()

         country_name        date  stringency_index
0            Honduras  2020-05-14             100.0
1            Honduras  2020-04-06             100.0
2              Kuwait  2020-05-15             100.0
3               Libya  2020-05-11             100.0
4         El Salvador  2020-05-13             100.0
5         Philippines  2020-03-31             100.0
6                Cuba  2020-05-18             100.0
7  Dominican Republic  2020-05-06             100.0
8            Honduras  2020-04-26             100.0
9           Sri Lanka  2020-03-31             100.0

In [23]:
#Zapytanie pokazuje nam kraj oraz date gdy wyszukiwanie odnosnie kaszlu w tym rejonie miało największą wartość - względem całej pandemii na całym świecie to TUTAJ w tym momencie wyszukiwano ten objaw wtedy najwięcej względem innych wyszukiwań w tym kraju. 
query = "WITH max_value AS (SELECT MAX(search_trends_cough) AS max_search_trend_cough FROM `bigquery-public-data.covid19_open_data.covid19_open_data` WHERE aggregation_level = 0) SELECT country_name, date,search_trends_cough  FROM `bigquery-public-data.covid19_open_data.covid19_open_data`, max_value WHERE (aggregation_level = 0) AND (search_trends_cough = max_value.max_search_trend_cough) AND (search_trends_cough IS NOT NULL) LIMIT 10"
query_cough = client.query(query)
query_cough_result = query_cough.result()
query_cough_result.to_dataframe()

  country_name        date  search_trends_cough
0  New Zealand  2020-02-16                38.08

In [24]:
#Gdzie było przewidywane najdłuższe życie i w którym momencie.
query = "WITH max_value AS (SELECT MAX(life_expectancy) AS max_life_expectancy FROM `bigquery-public-data.covid19_open_data.covid19_open_data` WHERE aggregation_level = 0) SELECT country_name, date, life_expectancy  FROM `bigquery-public-data.covid19_open_data.covid19_open_data`, max_value WHERE (aggregation_level = 0) AND (life_expectancy = max_value.max_life_expectancy) AND (life_expectancy IS NOT NULL) LIMIT 10"
query_life_expectancy = client.query(query)
query_life_expectancy_result = query_life_expectancy.result()
query_life_expectancy_result.to_dataframe()

  country_name        date life_expectancy
0   San Marino  2020-02-26        85.41707
1   San Marino  2021-02-08        85.41707
2   San Marino  2021-03-14        85.41707
3   San Marino  2021-07-01        85.41707
4   San Marino  2021-01-04        85.41707
5   San Marino  2022-05-24        85.41707
6   San Marino  2020-02-19        85.41707
7   San Marino  2020-09-02        85.41707
8   San Marino  2021-09-19        85.41707
9   San Marino  2022-08-30        85.41707

In [25]:
#Liczba aktywnych przypadków gdzie potrzebowano respiratorów.
query = "SELECT country_name, current_ventilator_patients, date FROM `bigquery-public-data.covid19_open_data.covid19_open_data` WHERE (aggregation_level = 0) AND (current_ventilator_patients IS NOT NULL) LIMIT 10"
query_ventilator_patients = client.query(query)
query_ventilator_patients_result = query_ventilator_patients.result()
query_ventilator_patients_result.to_dataframe()

  country_name  current_ventilator_patients        date
0     Malaysia                           34  2020-11-01
1     Malaysia                          838  2021-07-28
2     Malaysia                          109  2021-04-05
3     Malaysia                          825  2021-08-24
4     Malaysia                          210  2021-12-19
5     Malaysia                            4  2020-09-07
6     Malaysia                           45  2020-11-18
7         Peru                         1439  2020-07-27
8         Peru                          781  2021-10-22
9         Peru                         1696  2021-01-19

In [26]:
# kraje w ktorych wiecej ludzi zyje na wsi niz w miastach
query = "SELECT DISTINCT country_name, population_urban , population_rural FROM `bigquery-public-data.covid19_open_data.covid19_open_data` WHERE (aggregation_level = 0) AND (population_urban IS NOT NULL) AND (population_rural IS NOT NULL) AND (population_rural > population_urban)"
query_more_rural = client.query(query)
query_more_rural_result = query_more_rural.result()
query_more_rural_result.to_dataframe()

             country_name  population_urban  population_rural
0             Afghanistan           9797273          28244481
1                   Egypt          42895824          57492249
2                Ethiopia          23788710          88290020
3                  Guyana            208912            573854
4   Saint Kitts and Nevis             16269             36554
..                    ...               ...               ...
62                 Bhutan            317538            445554
63          Liechtenstein              5464             32555
64             Madagascar          10210849          16758458
65       Papua New Guinea           1162834           7613275
66              Swaziland            275333            872797

[67 rows x 3 columns]

Część 4

Przeanalizuj poniższe przypadki. Zastanów się, jakie dane potrzebujesz do każdego z nich, a następnie zapisz je w osobnych, jak najprostszych obiektach DataFrame. Na tym etapie nie przetwarzaj ich. Zadbaj o czystość danych, m.in. usuń niepotrzebne puste wartości i duplikaty, zunifikuj sposób podawania informacji, zaproponuj sposób naprawy błędnych danych. Gotowe dane z obiektów DataFrame zapisz w osobnych plikach CSV.

4.1 
Chcemy posiadać podstawowe dane o wszystkich krajach świata, które będą zrozumiałe dla człowieka oraz uniwersalne i potencjalnie przyszłościowe do dalszego przetwarzania.

In [46]:
query = """
SELECT  
    country_name,
    iso_3166_1_alpha_3 AS `3 letter country code`
    ,area_sq_km,MAX(population) as `population`
FROM 
    `bigquery-public-data.covid19_open_data.covid19_open_data`
WHERE 
    aggregation_level = 0
GROUP BY
     country_name, iso_3166_1_alpha_3,area_sq_km
"""
# Wykonanie zapytania
query_country = client.query(query)

# Pobranie wyników zapytania
query_country_result = query_country.result()

# Tworzenie DataFrame z wyników
country_df = query_country_result.to_dataframe()

# Usunięcie wierszy z brakującymi wartościami
country_df.dropna(inplace=True)

# Zapisanie wyników do pliku CSV
country_df.to_csv('results\\4_1country_data.csv', index=False)

 4.2. Chcemy wygenerować statystyki dotyczące zachorowań na COVID-19 na całym świecie.

In [47]:
query = """
SELECT 
    country_name,
    iso_3166_1_alpha_3 AS `3 letter country code`,
    SUM(new_confirmed) AS `Total confirmed cases`
FROM 
    `bigquery-public-data.covid19_open_data.covid19_open_data`
WHERE 
    aggregation_level = 0
GROUP BY 
    country_name, iso_3166_1_alpha_3
ORDER BY 
    country_name
"""
query_confirmed = client.query(query)
query_confirmed_result = query_confirmed.result()
confirmed_df = query_confirmed_result.to_dataframe()
confirmed_df.dropna(inplace=True)
confirmed_df.to_csv('results\\4_2disease_data.csv', index=False)

 4.3. Chcemy poznać efekty COVID-19 poprzez uwypuklenie problemu śmiertelności ludzi spowodowanej wirusem.

In [48]:
query = """
SELECT 
    country_name,
    iso_3166_1_alpha_3 AS `3 letter country code`,
    SUM(new_deceased) AS `Total deceased`
FROM 
    `bigquery-public-data.covid19_open_data.covid19_open_data`
WHERE 
    aggregation_level = 0
GROUP BY 
    country_name, iso_3166_1_alpha_3
ORDER BY 
    country_name
"""
query_disease = client.query(query)
query_disease_result = query_disease.result()
disease_df = query_disease_result.to_dataframe()
disease_df.dropna(inplace=True)
disease_df.to_csv('results\\4_3deceased_data.csv', index=False)

 4.4. Chcemy zaobserwować trendy i zależności dotyczące szczepień na COVID-19.

In [49]:
query = """
SELECT 
    country_name,
    iso_3166_1_alpha_3 AS `3 letter country code`,
    SUM(new_confirmed) AS `Total confirmed cases`,
    SUM(new_persons_vaccinated) AS `Total vaccinations`
FROM 
    `bigquery-public-data.covid19_open_data.covid19_open_data`
WHERE 
    aggregation_level = 0
GROUP BY 
    country_name, iso_3166_1_alpha_3
ORDER BY 
    country_name
"""
query_vaccine = client.query(query)
query_vaccine_result = query_vaccine.result()
vaccine_df = query_vaccine_result.to_dataframe()
vaccine_df.dropna(inplace=True)
vaccine_df.to_csv('results\\4_4vaccine_data.csv', index=False)

In [50]:
query = """
SELECT 
    country_name,
    iso_3166_1_alpha_3 AS `3 letter country code`,
    SUM(new_confirmed) AS `Confirmed cases`,
    SUM(new_persons_vaccinated) AS `New vaccinated`,
    date,
    population,
    (cumulative_persons_vaccinated / population)*100 AS `Vaccinated %`
FROM 
    `bigquery-public-data.covid19_open_data.covid19_open_data`
WHERE 
    aggregation_level = 0
GROUP BY 
    country_name, iso_3166_1_alpha_3,date,population,cumulative_persons_vaccinated
ORDER BY 
    country_name,date
"""
query_vaccine = client.query(query)
query_vaccine_result = query_vaccine.result()
vaccine_dates_df = query_vaccine_result.to_dataframe()
vaccine_dates_df.dropna(inplace=True)
vaccine_dates_df.to_csv('results\\4_4vaccine_dates_data.csv', index=False)

4.5 Chcemy zaobserwować stosunek zgonów do zachorowań w danym kraju. Dodatkowo wyodrębnić kraj, który miał ten współczynnik najwyższy

In [51]:
query = """
SELECT 
    country_name,
    iso_3166_1_alpha_3 AS `3 letter country code`,
    CASE 
        WHEN SUM(new_confirmed) = 0 THEN 0 
        ELSE (SUM(new_deceased) * 100) / SUM(new_confirmed) 
    END AS `Deceased to Confirmed cases %`
FROM 
    `bigquery-public-data.covid19_open_data.covid19_open_data`
WHERE
    aggregation_level = 0
GROUP BY 
    country_name, iso_3166_1_alpha_3
ORDER BY 
    country_name
"""
query_deceased_to_sick = client.query(query)
query_deceased_to_sick_result = query_deceased_to_sick.result()
query_deceased_to_sick_result_df = query_deceased_to_sick_result.to_dataframe()
query_deceased_to_sick_result_df.dropna(inplace=True)
query_deceased_to_sick_result_df.to_csv('results/4_5_deceased_to_convirmed.csv', index=False)


query = """
SELECT 
    country_name,
    iso_3166_1_alpha_3 AS `3 letter country code`,
    CASE 
        WHEN SUM(new_confirmed) = 0 THEN 0 
        ELSE (SUM(new_deceased) * 100) / SUM(new_confirmed) 
    END AS `Deceased to Confirmed cases %`
FROM 
    `bigquery-public-data.covid19_open_data.covid19_open_data`
WHERE
    aggregation_level = 0
GROUP BY 
    country_name, iso_3166_1_alpha_3
ORDER BY 
    `Deceased to Confirmed cases %` DESC
LIMIT 1
"""
query_deceased_to_sick_max = client.query(query)
query_deceased_to_sick_result_max = query_deceased_to_sick_max.result()
query_deceased_to_sick_result_df_max = query_deceased_to_sick_result_max.to_dataframe()
query_deceased_to_sick_result_df_max.dropna(inplace=True)
query_deceased_to_sick_result_df_max.to_csv('results/4_5_deceased_to_convirmed_max.csv', index=False)

Część 5
Połącz ze sobą wszystkie dane otrzymane w części 4. Nowy zbiór danych zapisz jako oddzielny obiekt DataFrame. Jeżeli uważasz, że należy stworzyć kilka takich obiektów, zrób to i zapisz swoje uzasadnienie. Pamiętaj o ciągłej konieczności zachowania czystości danych. Wynik tego zadania zapisz w pliku / plikach CSV.

In [53]:
# Łączenie danych o krajach i potwierdzonych przypadkach chorób na podstawie kodu kraju i nazwy kraju
merged_country_disease = pd.merge(country_df, confirmed_df, on=['3 letter country code', 'country_name'])

# Dodanie informacji o zgonach
merged_country_disease_deceased = pd.merge(merged_country_disease, disease_df, on=['3 letter country code', 'country_name'])

# Dodanie danych o szczepieniach
merged_country_disease_deceased_vaccine = pd.merge(merged_country_disease_deceased, vaccine_df, on=['3 letter country code', 'country_name'])
# Łączenie wszystkich danych z wynikami zapytań dotyczących stosunku zgonów do zakażeń

merged_all = pd.merge(merged_country_disease_deceased_vaccine, query_deceased_to_sick_result_df, on=['3 letter country code'])

# Usunięcie powtarzającej się kolumn i renamowanie
merged_all = merged_all.drop(columns=['Total confirmed cases_y'])
merged_all = merged_all.rename(columns={'Total confirmed cases_x': 'Total confirmed cases'})
merged_all = merged_all.drop(columns=['country_name_y'])
merged_all = merged_all.rename(columns={'country_name_x':'Country Name'})

merged_all.to_csv('results\\5task_merged.csv', index=False)

# Ponowne łączenie danych, ale z tylko z maksymalną wartościami z wyników zapytań
merged_all_one_max = pd.merge(merged_country_disease_deceased_vaccine, query_deceased_to_sick_result_df_max, on=['3 letter country code'])

# Usunięcie powtarzającej się kolumn i renamowanie
merged_all_one_max = merged_all_one_max.drop(columns=['Total confirmed cases_y'])
merged_all_one_max = merged_all_one_max.rename(columns={'Total confirmed cases_x': 'Total confirmed cases'})
merged_all_one_max = merged_all_one_max.drop(columns=['country_name_y'])
merged_all_one_max = merged_all_one_max.rename(columns={'country_name_x':'Country Name'})

merged_all_one_max.to_csv('results\\5task_merged_max.csv', index=False)

In [54]:
print(merged_country_disease_deceased.columns)
print(vaccine_df.columns)

Index(['country_name', '3 letter country code', 'area_sq_km', 'population',
       'Total confirmed cases', 'Total deceased'],
      dtype='object')
Index(['country_name', '3 letter country code', 'Total confirmed cases',
       'Total vaccinations'],
      dtype='object')

6. Połącz ze sobą dane otrzymane w części 5 oraz dane znajdujące się w plikach:

Podstawowe dane dotyczące krajów na całym świecie razem z historycznymi danymi na temat ich populacji

In [55]:
world_countries_df = pd.read_csv('data\\world_countries.csv')
gdp_df = pd.read_csv('data\\gdp.csv')

merged_df_world_countries_for_countries = pd.merge(merged_all, world_countries_df, left_on='Country Name', right_on='Country/Territory')
merged_df_world_countries_for_countries.drop('3 letter country code', axis=1, inplace=True)
merged_df_world_countries_for_countries.drop('Country/Territory', axis=1, inplace=True)
merged_df_world_countries_for_countries.to_csv('results\\6_1_merged.csv', index=False)

Wartości produktu krajowego brutto (w skrócie PKB, ang. GDP - gross domestic product) w krajach i regionach świata. Kolejno zawarto:

In [64]:
# Wybór tylko lat 1990, 2000, 2010
df_gdp_filtered = gdp_df[gdp_df['Year'].isin([1990,2000,2010])]

# Przekształcenie na szeroki format (kolumny GDP_1980 i GDP_2000)
df_gdp_pivot = df_gdp_filtered.pivot(index='Country Name', columns='Year', values='Value')
df_gdp_pivot.columns = [f'{col} GPD' for col in df_gdp_pivot.columns]  # Zmiana nazw kolumn

# Połączenie z drugą tabelą
df_final = merged_df_world_countries_for_countries.merge(df_gdp_pivot, on='Country Name', how='left')
df_final.dropna(inplace=True)
df_final.to_csv('results\\6_2_merged.csv', index=False)